* {
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    position: relative;
    contain: content;
    aspect-ratio: 5/6;
    width: 100%;
    transform: translateY(36px);
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 24px;
    width: 500px;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0px;
    padding: 20px;
    cursor: pointer;
    right: 24px;
}
footer > a {
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    vertical-align: middle;
    user-select: none;
}
fieldset {
    border: none;
}
.notes {
    height: 160px;
    width: 360px;
    margin-bottom: 3rem;
}
.notes summary {
    font-size: 24px;
}

.overflow-error {
    opacity: 0;
    color: #dc2626;
    transition: opacity 0.6s;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(5, 64px);
    grid-template-rows: repeat(6, 64px);
    border-collapse: separate;
    gap: 8px;
    padding: 0px;
    will-change: opacity, z-index, display;
    margin: 0px;
}
.calculator > label {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    will-change: opacity, box-shadow;
    transition: box-shadow 0.4s, opacity 0.4s;
    border-radius: 4px;
}
.calculator > label:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.output ::before {
    will-change: content;
}
.output {
    width: 352px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    overflow: hidden;
    margin-bottom: -36px;
}

.output::after {
    content: '‍';
}

/* Function is not supported in current browser */
label:has([disabled]) {
    pointer-events: stroke;
    opacity: 0.36;
    cursor: not-allowed;
}

/* Special grid sizes */

.calculator label:has([value='A/C']) {
    /* grid-column: 1/3; */
}
.calculator label:has([value='0']) {
    /* grid-column: 1/3; */
}
.calculator label:has([value='=']) {
    grid-row: 2/6;
    grid-column: 5;
}
