<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Learn htmx</title>
        <base href="http://localhost:3000" />
        <script
            src="https://unpkg.com/htmx.org@1.9.2"
            integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://code.jquery.com/jquery-3.6.4.slim.js"
            integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4="
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            lavender: '#eae8ff',
                            platinum: '#d8d5db',
                            'robin-egg-blue': '#00cccc',
                            gunmetal: '#2d3142',
                            'uranium-blue': '#b0d7ff',
                        },
                    },
                },
            }
        </script>
    </head>
    <body class="bg-gunmetal text-lavender">
        <div class="flex flex-col gap-4">
            <button hx-get="/test" hx-target="ul" hx-swap="beforeend" class="h-20">Test button</button>
            <!-- <button hx-put="/account">Update My Account</button> -->

            <button hx-get="/todo" hx-swap="outerHTML" class="h-20">Get todos</button>
        </div>
        <button hx-delete="/clean" hx-swap="none">Drop db</button>
        <script>
            // window.addEventListener('beforeunload', (e) => {
            //     e.returnValue = false
            //     e.stopPropagation()
            //     e.preventDefault()
            // })
        </script>
    </body>
</html>
